## lab-web-scraping-single-page

In [8]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [9]:
url = "http://www.popvortex.com/music/charts/top-100-songs.php"

In [10]:
response = requests.get(url)
response.status_code

200

In [11]:
#response.content

In [12]:
soup = BeautifulSoup(response.content, "html.parser")

In [13]:
artist = []
for a in soup.select(".artist"):
    artist.append(a.get_text())

In [14]:
#artist

In [15]:
title = []
for t in soup.select(".title"):
    title.append(t.get_text())

In [16]:
#title

In [17]:
top = pd.DataFrame({"Title":title,"Artist":artist})
top

                         Title                    Artist
0               Margaritaville             Jimmy Buffett
1                  Come Monday             Jimmy Buffett
2   Rich Men North of Richmond      Oliver Anthony Music
3                     All Star               Smash Mouth
4     Cheeseburger In Paradise             Jimmy Buffett
..                         ...                       ...
95     Thought You Should Know             Morgan Wallen
96                  Dial Drunk  Noah Kahan & Post Malone
97             bad idea right?            Olivia Rodrigo
98                      august              Taylor Swift
99                 Unstoppable                       Sia

[100 rows x 2 columns]

In [18]:
# To add another column if needed
#top['Position'] = range(1, 101)
#top = top[['Position','Title','Artist']]
#top

In [19]:
top.index = top.index + 1
top

                          Title                    Artist
1                Margaritaville             Jimmy Buffett
2                   Come Monday             Jimmy Buffett
3    Rich Men North of Richmond      Oliver Anthony Music
4                      All Star               Smash Mouth
5      Cheeseburger In Paradise             Jimmy Buffett
..                          ...                       ...
96      Thought You Should Know             Morgan Wallen
97                   Dial Drunk  Noah Kahan & Post Malone
98              bad idea right?            Olivia Rodrigo
99                       august              Taylor Swift
100                 Unstoppable                       Sia

[100 rows x 2 columns]

## Getting Another Top Songs List

In [20]:
# list to go through pages
iterations = range(1,6)

In [21]:
from time import sleep
from random import randint

In [22]:
# get multiple pages

pages = []

for i in iterations:
    # assemble the url:
    start_at= str(i)
    url = "https://www.poplist.de/poplist.php?site="+start_at+"&var1=%20AND%20(tab_list_type.ID%20=%20466)&var4=Rolling%20Stone%20(2004)%20Die%20500%20besten%20Songs%20aller%20Zeiten%20-%20Kritiker&var5=Best-of-Lists%20from%20German%20Music%20Magazines%20-%20%20The%20500%20Best%20Songs%20of%20All%20Time&var10=Rolling%20Stone%20(2004)%20Die%20500%20besten%20Songs%20aller%20Zeiten,#list"
    # download html with a get request:
    response = requests.get(url)
    #response = requests.get(url, headers = {"Accept-Language": "en-US"})

    # monitor the process by printing the status code
    print("Status code: " + str(response.status_code))
    print(url)
    # store response into "pages" list
    pages.append(response)

    # respectful nap:
    wait_time = randint(1,4)
    print("I will sleep for " + str(wait_time) + " second/s.")
    sleep(wait_time)

Status code: 200
https://www.poplist.de/poplist.php?site=1&var1=%20AND%20(tab_list_type.ID%20=%20466)&var4=Rolling%20Stone%20(2004)%20Die%20500%20besten%20Songs%20aller%20Zeiten%20-%20Kritiker&var5=Best-of-Lists%20from%20German%20Music%20Magazines%20-%20%20The%20500%20Best%20Songs%20of%20All%20Time&var10=Rolling%20Stone%20(2004)%20Die%20500%20besten%20Songs%20aller%20Zeiten,#list
I will sleep for 4 second/s.
Status code: 200
https://www.poplist.de/poplist.php?site=2&var1=%20AND%20(tab_list_type.ID%20=%20466)&var4=Rolling%20Stone%20(2004)%20Die%20500%20besten%20Songs%20aller%20Zeiten%20-%20Kritiker&var5=Best-of-Lists%20from%20German%20Music%20Magazines%20-%20%20The%20500%20Best%20Songs%20of%20All%20Time&var10=Rolling%20Stone%20(2004)%20Die%20500%20besten%20Songs%20aller%20Zeiten,#list
I will sleep for 4 second/s.
Status code: 200
https://www.poplist.de/poplist.php?site=3&var1=%20AND%20(tab_list_type.ID%20=%20466)&var4=Rolling%20Stone%20(2004)%20Die%20500%20besten%20Songs%20aller%20Zeiten%20-%20Kritiker&var5=Best-of-Lists%20from%20German%20Music%20Magazines%20-%20%20The%20500%20Best%20Songs%20of%20All%20Time&var10=Rolling%20Stone%20(2004)%20Die%20500%20besten%20Songs%20aller%20Zeiten,#list
I will sleep for 4 second/s.
Status code: 200
https://www.poplist.de/poplist.php?site=4&var1=%20AND%20(tab_list_type.ID%20=%20466)&var4=Rolling%20Stone%20(2004)%20Die%20500%20besten%20Songs%20aller%20Zeiten%20-%20Kritiker&var5=Best-of-Lists%20from%20German%20Music%20Magazines%20-%20%20The%20500%20Best%20Songs%20of%20All%20Time&var10=Rolling%20Stone%20(2004)%20Die%20500%20besten%20Songs%20aller%20Zeiten,#list
I will sleep for 2 second/s.
Status code: 200
https://www.poplist.de/poplist.php?site=5&var1=%20AND%20(tab_list_type.ID%20=%20466)&var4=Rolling%20Stone%20(2004)%20Die%20500%20besten%20Songs%20aller%20Zeiten%20-%20Kritiker&var5=Best-of-Lists%20from%20German%20Music%20Magazines%20-%20%20The%20500%20Best%20Songs%20of%20All%20Time&var10=Rolling%20Stone%20(2004)%20Die%20500%20besten%20Songs%20aller%20Zeiten,#list
I will sleep for 2 second/s.

In [23]:
#print(BeautifulSoup(pages[0].content, "html.parser").prettify())

In [24]:
# Parse just the first page, for testing purposes
soup = BeautifulSoup(pages[0].content, "html.parser")

In [25]:
#title
#listcontainer > table > tbody > tr:nth-child(2) > td:nth-child(8) > a
#listcontainer > table > tbody > tr:nth-child(3) > td:nth-child(8) > a
#listcontainer > table > tbody > tr:nth-child(101) > td:nth-child(8) > a

#artist
#listcontainer > table > tbody > tr:nth-child(2) > td.bestlist.thick > a
#listcontainer > table > tbody > tr:nth-child(3) > td.bestlist.thick > a
#listcontainer > table > tbody > tr:nth-child(101) > td.bestlist.thick > a

In [26]:
#soup.select("td:nth-child(8) > a")

In [27]:
titles = []

for i in range(len(pages)):
    # parse all pages
    parsed = BeautifulSoup(pages[i].content, "html.parser")
    # select only the info about the titles
    # put all titles in a list
    for j in soup.select("td:nth-child(8) > a"):
        titles.append(j.get_text())

# Checking our output:

print(len(titles))
#print(len(synopsis))

500

In [28]:
artists = []

for i in range(len(pages)):
    # parse all pages
    parsed = BeautifulSoup(pages[i].content, "html.parser")
    # select only the info about the artists
    # put all titles in a list
    for j in soup.select("td.bestlist.thick > a"):
        artists.append(j.get_text())


# Checking our output:


print(len(artists))

500

In [29]:
top2 = pd.DataFrame({"Title":titles,"Artist":artists})

In [30]:
top2

                             Title              Artist
0             Like A Rolling Stone           Bob Dylan
1    (I Can’t Get No) Satisfaction  The Rolling Stones
2                  Good Vibrations      The Beach Boys
3                          Imagine         John Lennon
4          Smells Like Teen Spirit             Nirvana
..                             ...                 ...
495              Political Science        Randy Newman
496                 Desolation Row           Bob Dylan
497                Long Tall Sally      Little Richard
498         A Whiter Shade Of Pale        Procol Harum
499  The Times They Are A-Changin’           Bob Dylan

[500 rows x 2 columns]

In [31]:
top2.index = top2.index + 1
top2

                             Title              Artist
1             Like A Rolling Stone           Bob Dylan
2    (I Can’t Get No) Satisfaction  The Rolling Stones
3                  Good Vibrations      The Beach Boys
4                          Imagine         John Lennon
5          Smells Like Teen Spirit             Nirvana
..                             ...                 ...
496              Political Science        Randy Newman
497                 Desolation Row           Bob Dylan
498                Long Tall Sally      Little Richard
499         A Whiter Shade Of Pale        Procol Harum
500  The Times They Are A-Changin’           Bob Dylan

[500 rows x 2 columns]

In [35]:
top.to_csv('Top 100.csv', index=False)
top2.to_csv('Top 100_2.csv', index=False)

## GNOD Process Step 2

In [33]:
# Prompt the user for a song name
song_name = input("Please enter the name of a song: ")

# Check if the input contains at least one alphabetical character and/or alphanumeric character
if any(c.isalpha() for c in song_name) and any(c.isalnum() for c in song_name):
    print(f"You entered a valid song name: {song_name}")
else:
    print("Invalid input. Please enter a song name containing letters and/or numbers.")

Please enter the name of a song: MargaritaVille
You entered a valid song name: MargaritaVille

In [38]:

# Prompt the user for a artist name
artist_name = input("Please enter the name of an artist: ")

# Check if the input contains at least one alphabetical character and/or alphanumeric character
if any(c.isalpha() for c in artist_name) and any(c.isalnum() for c in artist_name):
    print(f"You entered a valid artist name: {artist_name}")
else:
    print("Invalid input. Please enter a artist name containing letters and/or numbers.")

Please enter the name of an artist: x
You entered a valid artist name: x

In [40]:
# In case we need to check for song and artist together

# Check if the input exists in our df
#if (song_name.lower() in top['Title'].str.lower().values) & ((artist_name.lower() in top['Artist'].str.lower().values)) :
    #print(f"{song_name} by {artist_name} exists in the data frame.")
#else:
    #print(f"{song_name} by {artist_name} does not exist in the data frame.")

MargaritaVille by x does not exist in the data frame.

In [ ]:
# First to check with an if condition that it works

Check if the input exists in our df
if (song_name.lower() in top['Title'].str.lower().values):
    print(f"{song_name} exists in the data frame.")
else:
    print(f"{song_name} does not exist in the data frame.")

## Combining the previous parts in one code

Matching the song to our df and recommending another song from the same df

In [43]:
song_name = input("Please enter the name of a song: ")

if any(c.isalpha() for c in song_name) and any(c.isalnum() for c in song_name):
    song_name = song_name.lower()

    matching_song = top[(top['Title'].str.lower() == song_name)]

    if not matching_song.empty:
        print(f"The song '{matching_song['Title'].values[0]}' by {matching_song['Artist'].values[0]} matches your input.")

        recommended_song = top[top['Title'].str.lower() != song_name].sample(1)
        print(f"Here's a recommended song: '{recommended_song['Title'].values[0]}' by {recommended_song['Artist'].values[0]}")
    else:
        print(f"No recommendations found for the song: {song_name}")
else:
    print("Invalid input. Please enter a song name containing letters and/or numbers.")

Please enter the name of a song: MargaritaVille
The song 'Margaritaville' by Jimmy Buffett matches your input.
Here's a recommended song: 'Brown Eyed Girl (Live)' by Jimmy Buffett

Another version where we can recommend songs from another df if there is no match to our df but it doesn't have to match the second df

In [48]:
song_name = input("Please enter the name of a song: ")

if any(c.isalpha() for c in song_name) and any(c.isalnum() for c in song_name):
    song_name = song_name.lower()

    matching_song = top[(top['Title'].str.lower() == song_name)]
    matching_song2 = top2[(top2['Title'].str.lower() == song_name)]
    if not matching_song.empty:
        print(f"The song '{matching_song['Title'].values[0]}' by {matching_song['Artist'].values[0]} matches your input.")

        recommended_song = top[top['Title'].str.lower() != song_name].sample(1)
        print(f"Here's a recommended song: '{recommended_song['Title'].values[0]}' by {recommended_song['Artist'].values[0]}")
    else:
        other_song = other_song = top2.sample(1)
        print(f"Here's another song that might be interesting: '{other_song['Title'].values[0]}' by {other_song['Artist'].values[0]}")
else:
    print("Invalid input. Please enter a song name containing letters and/or numbers.")

Please enter the name of a song: x
Here's another song that might be interesting: 'Sympathy For The Devil' by The Rolling Stones

Another version where we can recommend songs from another df if there is no match to our df but it has a match to another df

In [49]:
song_name = input("Please enter the name of a song: ")

if any(c.isalpha() for c in song_name) and any(c.isalnum() for c in song_name):
    song_name = song_name.lower()

    matching_song = top[(top['Title'].str.lower() == song_name)]
    matching_song2 = top2[(top2['Title'].str.lower() == song_name)]
    if not matching_song.empty:
        print(f"The song '{matching_song['Title'].values[0]}' by {matching_song['Artist'].values[0]} matches your input.")

        recommended_song = top[top['Title'].str.lower() != song_name].sample(1)
        print(f"Here's a recommended song: '{recommended_song['Title'].values[0]}' by {recommended_song['Artist'].values[0]}")
        
    elif not matching_song2.empty:
        print(f"The song '{matching_song2['Title'].values[0]}' by {matching_song2['Artist'].values[0]} matches your input.")

        recommended_song2 = top2[top2['Title'].str.lower() != song_name].sample(1)
        print(f"Here's a recommended song: '{recommended_song2['Title'].values[0]}' by {recommended_song2['Artist'].values[0]}")

    
    else:
        print(f"No recommendations found for the song: {song_name}")
else:
    print("Invalid input. Please enter a song name containing letters and/or numbers.")

Please enter the name of a song: Like A Rolling Stone
The song 'Like A Rolling Stone' by  Bob Dylan matches your input.
Here's a recommended song: 'See Emily Play' by  Pink Floyd