## lab-web-scraping-single-page

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
url = "http://www.popvortex.com/music/charts/top-100-songs.php"

In [3]:
response = requests.get(url)
response.status_code

200

In [4]:
#response.content

In [5]:
soup = BeautifulSoup(response.content, "html.parser")

In [6]:
artist = []
for a in soup.select(".artist"):
    artist.append(a.get_text())

In [7]:
#artist

In [8]:
title = []
for t in soup.select(".title"):
    title.append(t.get_text())

In [9]:
#title

In [10]:
top = pd.DataFrame({"Title":title,"Artist":artist})
top

                                         Title                Artist
0                               Margaritaville         Jimmy Buffett
1                                  Come Monday         Jimmy Buffett
2                   Rich Men North of Richmond  Oliver Anthony Music
3                     Cheeseburger In Paradise         Jimmy Buffett
4   Changes In Latitudes, Changes In Attitudes         Jimmy Buffett
..                                         ...                   ...
95                                      august          Taylor Swift
96  Changes In Latitudes, Changes In Attitudes         Jimmy Buffett
97                                 Unstoppable                   Sia
98                            Bring Me to Life           Evanescence
99                                      Demons              Doja Cat

[100 rows x 2 columns]

In [11]:
# To add another column if needed
#top['Position'] = range(1, 101)
#top = top[['Position','Title','Artist']]
#top

In [12]:
top.index = top.index + 1
top

                                          Title                Artist
1                                Margaritaville         Jimmy Buffett
2                                   Come Monday         Jimmy Buffett
3                    Rich Men North of Richmond  Oliver Anthony Music
4                      Cheeseburger In Paradise         Jimmy Buffett
5    Changes In Latitudes, Changes In Attitudes         Jimmy Buffett
..                                          ...                   ...
96                                       august          Taylor Swift
97   Changes In Latitudes, Changes In Attitudes         Jimmy Buffett
98                                  Unstoppable                   Sia
99                             Bring Me to Life           Evanescence
100                                      Demons              Doja Cat

[100 rows x 2 columns]

## Getting Another Top Songs List

In [13]:
# list to go through pages
iterations = range(1,6)

In [14]:
from time import sleep
from random import randint

In [15]:
# get multiple pages

pages = []

for i in iterations:
    # assemble the url:
    start_at= str(i)
    url = "https://www.poplist.de/poplist.php?site="+start_at+"&var1=%20AND%20(tab_list_type.ID%20=%20466)&var4=Rolling%20Stone%20(2004)%20Die%20500%20besten%20Songs%20aller%20Zeiten%20-%20Kritiker&var5=Best-of-Lists%20from%20German%20Music%20Magazines%20-%20%20The%20500%20Best%20Songs%20of%20All%20Time&var10=Rolling%20Stone%20(2004)%20Die%20500%20besten%20Songs%20aller%20Zeiten,#list"
    # download html with a get request:
    response = requests.get(url)
    #response = requests.get(url, headers = {"Accept-Language": "en-US"})

    # monitor the process by printing the status code
    print("Status code: " + str(response.status_code))
    print(url)
    # store response into "pages" list
    pages.append(response)

    # respectful nap:
    wait_time = randint(1,4)
    print("I will sleep for " + str(wait_time) + " second/s.")
    sleep(wait_time)

Status code: 200
https://www.poplist.de/poplist.php?site=1&var1=%20AND%20(tab_list_type.ID%20=%20466)&var4=Rolling%20Stone%20(2004)%20Die%20500%20besten%20Songs%20aller%20Zeiten%20-%20Kritiker&var5=Best-of-Lists%20from%20German%20Music%20Magazines%20-%20%20The%20500%20Best%20Songs%20of%20All%20Time&var10=Rolling%20Stone%20(2004)%20Die%20500%20besten%20Songs%20aller%20Zeiten,#list
I will sleep for 3 second/s.
Status code: 200
https://www.poplist.de/poplist.php?site=2&var1=%20AND%20(tab_list_type.ID%20=%20466)&var4=Rolling%20Stone%20(2004)%20Die%20500%20besten%20Songs%20aller%20Zeiten%20-%20Kritiker&var5=Best-of-Lists%20from%20German%20Music%20Magazines%20-%20%20The%20500%20Best%20Songs%20of%20All%20Time&var10=Rolling%20Stone%20(2004)%20Die%20500%20besten%20Songs%20aller%20Zeiten,#list
I will sleep for 1 second/s.
Status code: 200
https://www.poplist.de/poplist.php?site=3&var1=%20AND%20(tab_list_type.ID%20=%20466)&var4=Rolling%20Stone%20(2004)%20Die%20500%20besten%20Songs%20aller%20Zeiten%20-%20Kritiker&var5=Best-of-Lists%20from%20German%20Music%20Magazines%20-%20%20The%20500%20Best%20Songs%20of%20All%20Time&var10=Rolling%20Stone%20(2004)%20Die%20500%20besten%20Songs%20aller%20Zeiten,#list
I will sleep for 1 second/s.
Status code: 200
https://www.poplist.de/poplist.php?site=4&var1=%20AND%20(tab_list_type.ID%20=%20466)&var4=Rolling%20Stone%20(2004)%20Die%20500%20besten%20Songs%20aller%20Zeiten%20-%20Kritiker&var5=Best-of-Lists%20from%20German%20Music%20Magazines%20-%20%20The%20500%20Best%20Songs%20of%20All%20Time&var10=Rolling%20Stone%20(2004)%20Die%20500%20besten%20Songs%20aller%20Zeiten,#list
I will sleep for 1 second/s.
Status code: 200
https://www.poplist.de/poplist.php?site=5&var1=%20AND%20(tab_list_type.ID%20=%20466)&var4=Rolling%20Stone%20(2004)%20Die%20500%20besten%20Songs%20aller%20Zeiten%20-%20Kritiker&var5=Best-of-Lists%20from%20German%20Music%20Magazines%20-%20%20The%20500%20Best%20Songs%20of%20All%20Time&var10=Rolling%20Stone%20(2004)%20Die%20500%20besten%20Songs%20aller%20Zeiten,#list
I will sleep for 3 second/s.

In [37]:
#print(BeautifulSoup(pages[0].content, "html.parser").prettify())

In [26]:
# Parse just the first page, for testing purposes
soup = BeautifulSoup(pages[0].content, "html.parser")

In [18]:
#title
#listcontainer > table > tbody > tr:nth-child(2) > td:nth-child(8) > a
#listcontainer > table > tbody > tr:nth-child(3) > td:nth-child(8) > a
#listcontainer > table > tbody > tr:nth-child(101) > td:nth-child(8) > a

#artist
#listcontainer > table > tbody > tr:nth-child(2) > td.bestlist.thick > a
#listcontainer > table > tbody > tr:nth-child(3) > td.bestlist.thick > a
#listcontainer > table > tbody > tr:nth-child(101) > td.bestlist.thick > a

In [52]:
#soup.select("td:nth-child(8) > a")

In [53]:
titles = []

for i in range(len(pages)):
    # parse all pages
    parsed = BeautifulSoup(pages[i].content, "html.parser")
    # select only the info about the titles
    # put all titles in a list
    for j in soup.select("td:nth-child(8) > a"):
        titles.append(j.get_text())

# Checking our output:

print(len(titles))
#print(len(synopsis))

AttributeError: 'NoneType' object has no attribute 'strip'

In [46]:
artists = []

for i in range(len(pages)):
    # parse all pages
    parsed = BeautifulSoup(pages[i].content, "html.parser")
    # select only the info about the artists
    # put all titles in a list
    for j in soup.select("td.bestlist.thick > a"):
        artists.append(j.get_text())


# Checking our output:


print(len(artists))

500

In [47]:
top2 = pd.DataFrame({"Title":titles,"Artist":artists})

In [48]:
top2

                             Title              Artist
0             Like A Rolling Stone           Bob Dylan
1    (I Can’t Get No) Satisfaction  The Rolling Stones
2                  Good Vibrations      The Beach Boys
3                          Imagine         John Lennon
4          Smells Like Teen Spirit             Nirvana
..                             ...                 ...
495              Political Science        Randy Newman
496                 Desolation Row           Bob Dylan
497                Long Tall Sally      Little Richard
498         A Whiter Shade Of Pale        Procol Harum
499  The Times They Are A-Changin’           Bob Dylan

[500 rows x 2 columns]

In [50]:
top2.index = top2.index + 1
top2

                             Title              Artist
1             Like A Rolling Stone           Bob Dylan
2    (I Can’t Get No) Satisfaction  The Rolling Stones
3                  Good Vibrations      The Beach Boys
4                          Imagine         John Lennon
5          Smells Like Teen Spirit             Nirvana
..                             ...                 ...
496              Political Science        Randy Newman
497                 Desolation Row           Bob Dylan
498                Long Tall Sally      Little Richard
499         A Whiter Shade Of Pale        Procol Harum
500  The Times They Are A-Changin’           Bob Dylan

[500 rows x 2 columns]